# Ensure that key files are preserved
!src/
!gradle/
!gradlew
!gradlew.bat
!README.md
!LICENSE
!build.gradle

# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
